 <h1 id="today"></h1>
    <section>
    <div id="app-calendar"></div>
    <div class="hours-park">
        <h2>Nos horaires</h2>
    <div class="hours-day">
        <p class="day-week"><span class="color-day"></span>Du lundi au jeudi : 9h-19h</p>
        <p><span class="color-tuesday"></span> Parc fermé tous les premiers mardis de chaque mois</p>
        <p><span class="color-nocturne"></span>Horaire nocturne du vendredi au samedi : 9h-20h</p>

        <p><span class="color-weekend"></span>Le dimanche : 9h – 18h</p>
        <p><span class="color-lastsunday"></span>Journées spéciales tousles derniers dimanches de chaque mois</p>
    </div>
</section>

<script>
let date = new Date()
let dateToday = new Date(date.getFullYear(), date.getMonth() +1, 0).getDate()
let today = document.getElementById('today')
let calendar = document.querySelector('#app-calendar');
let years = document.getElementById('selectYear')
const selectElement = document.querySelector('.ice-cream');

//Pour la date du jour 
today.insertAdjacentHTML("beforeend",`<h2> ${(date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear())}</h2>`);

let LastSunday = day => {
    return day % 28 === 0
}
let FirstTuesday = day => {
    return day % 30 === 2
}
let nocturnes = day => {
    return day % 7 === 5 || day % 7 ===6 
}
//Pour selectionneer les chiffre du weenkend et les mettre en couleur 
let weekends = day => {
    // le 6 pour la ligne samedi ou le 0 pour la ligne dimache 
    return day % 7 ===6 || day % 7 === 0
}


//Je crée une boulce pour chaque jour du calendirier 
for (let day = 1; day <= dateToday; day++) {
    let first =  FirstTuesday(day)
    let last = LastSunday(day)
    let nocturne = nocturnes(day)
    let weekend = weekends(day)
    // Pour placer les jour de la semaine dans les cases 
    let dayName = day => {
        let date = new Date(Date.UTC(2018, 0, day));
        return new Intl.DateTimeFormat("fr", {weekday: "short"})
        .format(date);
    }
    
    calendar.insertAdjacentHTML("beforeend", `<div class= "day ${weekend ? "weekend" : ""} ${nocturne ? "nocturne" : ""} ${first ? "FirstTuesday" : ""} ${last ? "LastSunday" : ""} "><div class="name">${dayName(day)}</div>${day}</day>`) 
}
</script>