<section>
    <div class="presse-background">
      <h1>Notre espace presse</h1>
    </div>
  </div>
  </section>
  <section>
    <div class="container-presse">
      <div class="logo-game-presse">
        <%= image_tag "logo-presse.png", class: 'logo-presse' %>
      </div>
      <div>
        <h2 class="title-presse">
          presse ressource
        </h2>
        <div class="presse-text">
        <div class="line-extrem-presse"></div>
        <div class="line-presse"></div>
          <p>
            Pour les professionnels du journalisme et de la production :
            retrouvez notre logo Game Zone en le téléchargeant.          
          </p>
        </div>
        <a href="assets/images/logo-presse.png" download="logotype-gamezone">
       </a>

        <a download="logo-presse.png" href="<%= asset_path( 'logo-presse.png' ) %>" title="logo-gamezone">
           <button class="btn">Telecharger le logotype</button>
        </a>
      </div>
    </div>
  </section>