<p id="notice"><%= notice %></p>

<h2>Le Park</h2>
<h3>Horaires :</h3>
<p>Ouverture : <%= @park.first_part_schedules %></p>
<p>Fermeture : <%= @park.second_part_schedules %></p>
<p>Fermeture : <%= @park.last_part_schedules %></p>

