Mon compte :

<%= current_user.identifiant %>
<%= current_user.xp %>

<div>
  <%= link_to 'Modifier mon profil', edit_user_registration_path %>
</div>

<div>
  afficher l'avatar 
  Sur la page edit profil => ajouter l'option de modification d'avatar

  nombre d'xp
</div>