<section>
  <div class="news-seasons">
    <h1 class="news-title">Nos actualités</h1>
  </div>
  <div class="news-container">
    <% @news.each do |news| %>
      <div class="news">
        <% if news.picture.attached? %>
          <%= image_tag(news.picture) %>
        <% end %>
        <h2 class="subtitle-news"><%= news.subtitle %></h2>
        <i class="fas fa-calendar-alt">22/12/2020</i>
        <p class="content-news">
            <%= truncate(news.description, :length => 80) %>
        </p>
        <%= link_to news_path(news.id), :class => "btn" do %>
          En savoir plus
        <% end %>
      </div>
    <% end %>
  </div>
</section>